
p:hover {
    background-color: blue;
}

.page1 {
    background-color: blue;
    height: 100vh;
}
.page2 {
    background-color: brown;
    height: 100vh;
}
.page3 {
    background-color: aqua;
    height: 100vh;
}
.page4 {
    background-color: blueviolet;
    height: 100vh;
}
.relative
{
    position: relative;
    top: 100px;
    left: 400px;
    
}
.flex-container
{
    display: flex;
    background-color: bisque;
    height: 100vh;
    border: 3px solid brown;
    flex-direction:column;
}
.flex-container div{
    background-color: aqua;
    border: 2px solid blue;
    height: 100px;
    width: 100px;
}
.topnav{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  background-color:aqua;
  
}
.grid-container
{
    display:grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
}
.grid-container div{
    border: 2px solid green;
    background-color: aquamarine;
}
.box1
{
    grid-column-start: 1;
    grid-column-end: 4;
}
.box2
{
    grid-row-start: 2;
    grid-row-end: 4;
}