.navbar{
    display: flex;
    justify-content: space-between;
    background-color: beige;
    font-size: xx-large;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.navbar li a{
    text-decoration: none;
    color: black;
}
.navbar li a:hover{
    color: aquamarine;
    text-decoration: underline;
}
li{
    list-style: none;
}